@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PokemonList {
  margin: 10px 200px 10px 200px;
  font-size: larger;
  text-transform: capitalize;
  text-align: center;
  border-style: dotted;
  border-color: #e4000f;
  font-family: VT323, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #f6cf57;
}

.Header {
  width: 100%;
  height: auto;
}

.paginationButtons {
  display: inline-block;
  border-radius: 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  margin: 0 auto;
}

/* fix that paginationButtons */
